body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #121212;
}

.ProseMirror {
  outline: none;
  height: 100%;
}
.ProseMirror p {
  margin: 0.5em 0;
}